@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section style="top: 10vh;">

    <div class="col-md-6 col-md-offset-3" style="text-align: center;top: 10vh;">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="my-box">
                <div class="box-header">
                    <h3 class="text-center">Login</h3>
                    <hr />
                </div>

                <div class="box-body text-center">
                    @Html.AntiForgeryToken()
                    <p>Use your Dokmee account to login</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="col-md-4 control-label">Type</label>
                        <div class="col-md-8">
                            <select name="Type" class="form-control">
                                <option selected value="0">DMS</option>
                                <option value="1">WEB</option>
                                <option value="2">CLOUD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}